* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #917173, #2a3b36, #432c52);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header {
  color: white;
}

main {
  margin: 1.25rem 0;
}

#details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6rem;
}

#details > #describe {
  width: 20rem;
  height: 3rem;
  padding: 1rem;
}
#details > #submit {
  width: 5rem;
  padding: 0.25rem 1rem;
  cursor: pointer;
}
