body {
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(white, lightgray);
}
h1 {
  text-shadow: 5px 5px 10px black;
  color: darkblue;
}
p:not(:last-child) {
  padding: 10px;
  color: white;
  width: 350px;
  font-size: 1rem;
  background: linear-gradient(165deg, darkblue, skyblue);
  box-shadow: 5px 5px 6px;
  border-radius: 0.25rem;
}
